<!DOCTYPE html>
<html lang="en" ng-app="concursomod">
<head>
<title>VICCON - Lista de concursos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../js/concurso_admin.js"></script>


<style>
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</style>

</head>
<body id="top" >


<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
 
      <div id="logo" class="fl_left">
        <h1><a href="../../index.html">VICCON</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          
        </ul>
      </nav>
 
    </header>
  </div>
 
  <div class="wrapper row2">
    <div id="breadcrumb" class="hoc clear"> 
 
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Concursos</a></li>
      </ul>
 
    </div>
  </div>
 
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 

<a href="crear_concurso.html">Crear concurso </a>

 <div >
           
             <header class="heading">Listado de Concursos</header>
          
           <div ng-controller="ctrlRead">
           
            
            <table class="table table-striped table-condensed table-hover">
                <thead>

                    <tr>
                       <td>Nombre</td>
            <td>Imagen</td>
            <td>Fecha de Inicio</td>
            <td>Fecha de Fin</td>
            <td>Premio</td>
            <td>Enlace</td>
            <td></td>
                    </tr>
                </thead>
                <tfoot>
                    <td colspan="7">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                            
                                <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                             
                                <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in pagedItems[currentPage] |filter:{'activo':'true'}">
     
                      <td>{{item.nombre}}</td>
                       <td data-title="'Imagen'" >
              <img src=".{{item.rutaMultimedia+item.nombreCarpetaThumb+item.imagen}}" style="width:200px"  >
            </td>
            <td data-title="'Inicio'">{{ item.fechaInicio |  date:'dd/MM/yyyy' }}</td>
            <td data-title="'Fin'">{{ item.fechaFin |  date:'dd/MM/yyyy' }}</td>
            <td data-title="'Premio'">{{ item.premio }}</td>
            <td data-title="'Enlace'">
              <li ><a href="detalle_concurso_admin.html">Ver</a> aqui se llama el campo url del objeto</li>
            </td>
            <td>  <li ><a href="modificar_concurso.html">Modificar</a></li></td>
            

                    </tr>
                </tbody>
            </table>
        </div>
          
        </div>
    </div>
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 

  </footer>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    s
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>