<!DOCTYPE html>
<html lang="en" ng-app="concursomod">
<head>
<title>VICCON - Detalle de Concurso</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="../bower_components/angular-route/angular-route.js"></script>
<script src="../js/concurso.js"></script>


<style>
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</style>

</head>
<body id="top" ng-controller="ConcursoListController as ctr">


<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
 
      <div id="logo" class="fl_left">
        <h1><a href="../../index.html">VICCON</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <!--<li>Aqui va el nombre del usuario admin que viene en el objeto desde iniciar_sesion.js</li>-->
        </ul>
      </nav>
 
    </header>
  </div>
 
  <div class="wrapper row2">
    <div id="breadcrumb" class="hoc clear"> 
 
      <ul>
        <li><a href="../../index.html">Home</a></li>
        <li><a href="#">Concursos</a></li>
      </ul>
 
    </div>
  </div>
 
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 

<a href="crear_concurso.html">Crear concurso </a>
      <div class="panel panel-default">
        <figure>
          <header class="heading">Listado de Concursos</header>
      <table class="pure-table pure-table-horizontal">
        <caption>Concursos X</caption>
        <thead>
          <tr>
            <!--td>ID</td-->
            <td>Nombre</td>
            <td>Imagen</td>
            <td>Fecha de Inicio</td>
            <td>Fecha de Fin</td>
            <td>Premio</td>
            <td>Enlace</td>
            <td></td>
            
          </tr>
        </thead>
        <tbody>
          <!--este valor de userId ESTA QUEDMADO-->
          <tr ng-repeat=" p in concursos.concurso   | filter:{userId:'59aceef105ea821a90fde462'}">
            <!--td data-title="'No.'">{{ p._id }}</td-->
            <td data-title="'Nombre'" >{{ p.nombre }} </td>
            <td data-title="'Imagen'" >
              <img src=".{{p.rutaMultimedia+p.nombreCarpetaThumb+p.imagen}}" style="width:200px"  ng-click="open()">
            </td>
            <td data-title="'Inicio'">{{ p.fechaInicio |  date:'MM/dd/yyyy' }}</td>
            <td data-title="'Fin'">{{ p.fechaFin |  date:'MM/dd/yyyy' }}</td>
            <td data-title="'Premio'">{{ p.premio }}</td>
            <td data-title="'Enlace'">
              <li ><a href="detalle_concurso_admin.html">Ver</a></li>
            </td>
            <td>  <li ><a href="modificar_concurso_admin.html">Modificar</a></li></td>
            
          </tr>
        </tbody>
      </table>
      
         
      
        </figure>
      </div>

      

    </div>
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 

  </footer>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    s
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>