<div class="loader" id="loader"></div>
<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
  
      <div id="logo" class="fl_left">
        <h1>VICCON</h1>
        <li><a href="../index.html">Cerrar sesión</a></li>
      </div>
  
    </header>
  </div>
  <div class="wrapper row2">
    
  </div>
  
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 

    <div class="content"> 


      <div id="comments" >
    <h2>Datos del concurso</h2>
         <form >
          <div class="one_third first">
            <label for="name">Nombre <span>*</span></label>
            <input type="text" name="nombre" id="nombre" value="" size="22"  ng-model="data.nombre" required>
          </div>
          <div class="one_third">
            <label for="fechaInicio">Fecha de inicio del concurso <span>*</span></label>
            <input type="date" name="fechaInicio" id="fechaInicio" value="" size="22"   ng-model="data.fechaInicio" required>
          </div>
           <div class="one_third">
            <label for="fechaFin">Fecha de finalización del concurso <span>*</span></label>
            <input type="date" name="fechaFin" id="fechaFin" value="" size="22"   ng-model="data.fechaFin" required>
          </div>
          <div class="one_third">
            <label for="descripcion">Descripción del premio<span>*</span></label>
            <textarea name="premio" id="premio" rows="3" cols="50"   ng-model="data.premio" required>
            </textarea>
          </div>
          <div class="one_third">
            <label for="banner">Seleccione la imagen de banner para el concurso<span>*</span></label>

            <input id="imagen"  type="file" name="uploads[]"  accept='image/*' required ></br>
          </div>
          <div class="block clear"></div>
          
          <div>

            <input class="btn btn-lg upload-btn" type="submit" value="Enviar"  ng-click="submit()">
            
            &nbsp;
          </div>
       </form>
      </div>
    </div>
    
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4">
  
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
  
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    
  </div>
</div>
