<!DOCTYPE html>

<html lang="en" >
<head>
<title>Modificar concurso</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
 <script src="https://code.angularjs.org/1.2.28/angular-route.js"></script>
<script src="../js/modificar_concurso.js"></script>
</head>
<body  id="top" ng-app="plunker" ng-controller="ConcursoPorIdParaPublico" >

<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
  
      <div id="logo" class="fl_left">
        <h1><a href="concurso_admin.html">VICCON</a></h1>
      </div>
  
    </header>
  </div>
  <div class="wrapper row2">
    <div id="breadcrumb" class="hoc clear"> 
  
      <ul>
        <li><a href="concurso_admin.html">Home</a></li>
        
        <li><a href="#">Modificar concurso</a></li>
      </ul>
  
    </div>
  </div>
  
</div>

<div class="wrapper row3"  >
  <main class="hoc container clear"> 

    <div class="content"> 


      <div id="comments" >
    <h2>Datos del concurso</h2>
         <form >
          <div class="one_third first">
            <label for="name">Nombre <span>*</span></label>
            <input type="text" name="nombre" id="nombre" value="{{ mydata.concurso.nombre }}" size="22" required>
          </div>
          <div class="one_third">
            <label for="fechaInicio">Fecha de inicio del concurso <span>*</span></label>
            <input type="date" name="fechaInicio" id="fechaInicio" value="{{ mydata.concurso.fechaInicio|  date:'yyyy-MM-dd' }}" size="22"  required>
          </div>
           <div class="one_third">
            <label for="fechaFin">Fecha de finalización del concurso <span>*</span></label>
            <input type="date" name="fechaFin" id="fechaFin" value="{{ mydata.concurso.fechaFin|  date:'yyyy-MM-dd' }}" size="22"    required>
          </div>
          <div class="one_third">
            <label for="descripcion">Descripción del premio<span>*</span></label>
            <textarea name="premio" id="premio" rows="3" cols="50" required>{{ mydata.concurso.premio }}
            </textarea>
          </div>
          <div class="one_third">
            <label for="banner">Seleccione la imagen de banner para el concurso<span>*</span></label>

            <input id="imagen"  type="file" name="uploads[]" multiple="multiple"></br>
          </div>
          <div class="block clear"></div>
          
          <div>
            <input class="btn btn-lg upload-btn" type="submit" value="Actualizar"  ng-click="submit()">
            &nbsp;

       </form>
       </div>
                    <div class="block clear"></div>
          
          <div>
            <input class="btn btn-lg upload-btn" type="submit" value="Eliminar"  ng-click="submit2()">
            &nbsp;
          </div>
      </div>
    </div>
    
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4">
  
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
  
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    
  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Mensaje de Viccon</h4>
        </div>
        <div class="modal-body">
          <p id="mensaje_crear_concurso"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="../js/enviar_imagen_concurso.js"></script>
</body>
</html>