<div class="loader" id="loader"></div>
<div class="bgded overlay" style="background-image:url('../images/demo/backgrounds/01.png');"> 

  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
  
      <div id="logo" class="fl_left">
        <h1>VICCON</h1>
      </div>
  
    </header>
  </div>
  <div class="wrapper row2">
  
  </div>
  
</div>

<div class="wrapper row3">
  <main class="hoc container clear"> 

    <div class="content"> 


      <div id="comments" >
    <h2>Datos del concursante</h2>
         <form >
          <div class="one_third first">
            <label for="name">Nombre <span>*</span></label>
            <input type="text" name="nombreAutor" id="nombreAutor" value="" size="22"  ng-model="data.nombreAutor" required>
          </div>
          <div class="one_third ">
            <label for="name">Apellido <span>*</span></label>
            <input type="text" name="apellidosAutor" id="apellidosAutor" value="" size="22"  ng-model="data.apellidosAutor" required>
          </div>
          
           <div class="one_third">
            <label for="email">Correo<span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22"   ng-model="data.email" required>
          </div>
          <!-- <div class="one_third">
            <label for="fechaFin">Fecha subida de video<span>*</span></label>
          <input type="date" name="fechaFin" id="fechaFin" value="" size="22"   ng-model="data.fechaFin" required>
          </div>
          -->
          <div class="one_third">
            <label for="descripcion">Mensaje asociado al video<span>*</span></label>
            <textarea name="mensaje" id="mensaje" rows="3" cols="50"   ng-model="data.mensaje" required>
            </textarea>
          </div>
           <div class="one_third">
            <label for="descripcion">Porque te gusta el producto<span>*</span></label>
            <textarea name="porqueLeGusta" id="porqueLeGusta" rows="3" cols="50"   ng-model="data.porqueLeGusta" required>
            </textarea>
          </div>
          <div class="one_third">
            <label for="banner">Seleccione su video para concursar<span>*</span></label>

            <input id="imagen"  type="file" name="uploads[]" accept='video/*' required ></br>
          </div>
          <div class="block clear"></div>
          
          <div>

            <input class="btn btn-lg upload-btn" type="submit" value="Enviar"  ng-click="submit()">
            
            &nbsp;
          </div>
       </form>
      </div>
    </div>
    
    <div class="clear"></div>
  </main>
</div>
<div class="wrapper row4">
  
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
  
    <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    
  </div>
</div>

